<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><img src="images/XppDevs-Logo-200.png" /></a>

        <p>
        <a href="/wheretostart.html">Where to start</a><br/>
        <a href="/howtocontribute.html">How to contribute</a><br/>
        </p>
        
        <p>
        <a href="/forum.html">Join the conversation</a><br/>
        <a href="#">Tools</a><br/>
        <a href="#">Best Practices</a><br/>
        <a href="#">Samples and Tutorials</a>
        </p>

        <p class="view"><a href="https://twitter.com/XppDevs"><img src="images/Twitter_logo_blue.png" height="20" /> Follow us on Twitter</a></p>

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>
          <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small><br/>
          <small><a href="/termsofuse.html">Terms of Use, Disclaimer, Trademark Notice</a></small>
        </p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-17251399-4', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
